body {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgba(252, 252, 252, 0.767);
    margin: 0;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-acerca {
    width: 490px;
    height: auto;
    border-radius: 20px;
}

@media only screen and (max-width: 550px) {
    .img-acerca {
        width: 400px;
        height: auto;
        margin: 0;
    }
}

@media only screen and (max-width: 416px) {
    .img-acerca {
        margin-top: 10px;
        width: 350px;
        height: auto;
        margin: 0;
    }
}

.about-us{
    display: grid;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: 2px solid #5d87ff;
    margin: 15px 10px;
    padding: 20px;
    width: auto;   
    justify-content: center;
    align-items: center;
    font-size: 20px;

    &:focus {
        border: 2px solid #5d87ff;
        outline: none;
    }
}

footer{
    margin-top: 20px;
    margin: 0;
    top: 0;
    left: 0;
}

.footer-names {
    text-align: center;
    background-color: #000000;
    width: auto;
    padding: 10px;
    color: rgb(255, 255, 255);
}

.footer-names a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.footer-names .integrantes-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 50px 0 50px;
    justify-content: space-evenly;
    color: rgb(255, 255, 255);
    
}

.banderas img{
    width: 100px;
}