<body>

    <div class="about-us">
        <h2>Recetas del Veci</h2>
        <p>Bienvenidos a Recetas del Veci, el destino culinario en línea que nació de nuestra pasión compartida por la
            gastronomía. Somos un equipo de entusiastas de la cocina, amantes de la comida y experimentados chefs
            caseros
            que han unido fuerzas para ofrecerte una experiencia culinaria única.

            En Recetas del Veci, creemos que la comida es mucho más que una necesidad básica; es una forma de arte, una
            expresión de amor y una fuente inagotable de inspiración. Nuestra misión es compartir esa pasión contigo,
            ofreciéndote recetas deliciosas, consejos de cocina y experiencias gastronómicas que te harán sentir como un
            chef en tu propia cocina.

            ¿Qué puedes esperar de nosotros? Recetas cuidadosamente seleccionadas, desde platos clásicos hasta
            innovaciones
            culinarias, guías paso a paso para cocinar, consejos útiles, historias detrás de los ingredientes y, lo más
            importante, una comunidad de amantes de la comida con la que puedes compartir tus éxitos y desafíos
            culinarios.

            Nuestra pasión es tu inspiración. Así que únete a nosotros en este viaje culinario y descubre el placer de
            cocinar y disfrutar de deliciosas comidas. ¡Esperamos que encuentres en [Nombre de la Página] un lugar donde
            la
            comida se convierte en arte y la cocina se convierte en un viaje emocionante!

            ¡Gracias por visitarnos y ser parte de nuestra comunidad!</p>
    </div>

    <footer class="footer-names">
        <div class="info-personal">
            <h1>Realizado por:</h1>
            <div class="integrantes-name">
                <!--div class="name-div">
                    <a href="mailto:jpanora@est.ups.edu.ec">jpanora@est.ups.edu.ec</a>
                    <p>Pañora Jeison</p>
                </div-->
                <div class="name-div">
                    <a href="mailto:psigua@est.ups.edu.ec">psigua@est.ups.edu.ec</a>
                    <p>Sigual Paul</p>
                </div>
            </div>
            <div class="social-icons">
                <ul class="container-social">
                    <a href="https://www.facebook.com/UPSalesianaEc/" class="facebook"><i
                            class="fab fa-facebook"></i></a>
                    <a href="https://www.instagram.com/upsalesianaec/" class="instagram"><i
                            class="fab fa-instagram"></i></a>
                </ul>
            </div>
            <div class="banderas">
                <div class="ban">
                    <img src="https://i.pinimg.com/736x/09/63/2a/09632af255a56bc3334b9b49c6e45771.jpg"
                        alt="Bandera de Argentina">
                    <img src="https://i.pinimg.com/736x/dc/e2/2e/dce22e7c3f07645186132f45e7ab8fe0.jpg"
                        alt="Bandera de Ecuador">
                    <img src="https://i.pinimg.com/736x/b9/72/a1/b972a10d0c69f134e5e4b6128c7d2c50.jpg"
                        alt="Bandera de Puerto Rico">
                </div>
                <p>2023</p>
            </div>
        </div>
    </footer>
</body>