<body>
    <div class="contenedor-principal">
        <header class="hero_re" [ngClass]="{'fixed-header': isScrolled}">
            <nav class="nav container">
                <div class="nav__logo">
                    <a href="">
                        <h2 class="nav-title">Recetas</h2>
                    </a>
                </div>
                <ul class="nav__link">
                    <li *ngFor="let e of paginas">
                        <a href="#" [routerLink]="e.path">{{e.enlace}}</a>
                    </li>
                </ul>
            </nav>
        </header>
    </div>
</body>



<router-outlet></router-outlet>